// Standard Breakpoints for different screen sizes
// about                            // padding
$xs: 600px; //  phone                   // 95vw // h1: 3.5rem   h2: 1.5rem  // 1rem
$sm: 768px; //  tablet                  // 90vw // h1: 3.5rem   h2: 1.5rem  // 2rem
$md: 992px; //  tablet-landscape        // 80vw // h1: 4rem     h2: 2rem    // 3rem
$lg: 1200px; // laptop                  // 75vw // h1: 4.5rem   h2: 2rem    // 4rem
$xl: 1440px; // desktop                 // 50vw // h1: 5rem     h2: 2rem    // 5rem
