@use "../partials/typography";
@use "../partials/palette";
@use "../partials/mixin";

.about {
    width: 100vw;
    min-height: 100vh;
    background-color: palette.$tertiary-color;
    @include mixin.responsive-sections;
    @include mixin.text-modifier;

    &__group {
        @include mixin.flex-padding-modifier(wrap, row, center, center, 0);
    }
}
