@use "../partials/typography";
@use "../partials/palette";
@use "../partials/mixin";

.projects {
	width: 100%;
	min-height: 100vh;
	background-color: palette.$tertiary-color;
	@include mixin.responsive-sections;
	@include mixin.text-modifier;

	&__heading {
		padding-top: 5rem;
	}

	&__group {
		@include mixin.flex-padding-modifier(wrap, row, center, center, 0);
		width: 100%;
	}

	&__text {
		height: 5rem;
	}

	&__article {
		@include mixin.flex-padding-modifier(
			nowrap,
			column,
			flex-start,
			flex-start,
			1rem
		);
		margin: 1rem;
		width: 18rem;

		img {
			margin-top: 1rem;
			margin-bottom: 1rem;
			border-radius: 1rem;
			height: 18rem;
			width: 18rem;
			background-position: center;
			object-fit: cover;
			filter: grayscale(25%);
			box-shadow: (0px 0px 6px palette.$bg-color);

			&:hover {
				filter: none;
				transform: scale(1.05);
				transition: transform 0.2s;
				-webkit-filter: none drop-shadow(0px 0px 6px palette.$bg-color);
				-moz-filter: none drop-shadow(0px 0px 6px palette.$bg-color);
			}
		}

		a {
			color: palette.$text-color;
			text-decoration: none;
			font-size: 2rem;

			&:hover {
				font-size: 2rem;
				color: palette.$secondary-color;
			}
		}
	}

	&__lower {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		p {
			border: 1px solid palette.$text-color;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
		}
	}
}
