@use "../partials/typography";
@use "../partials/palette";
@use "../partials/mixin"; 

.skills {
    width: 100%;
    min-height: 100vh;
    @include mixin.responsive-sections;
    @include mixin.text-modifier;
    
    &__text {
        padding-top: 1rem;
        text-align: center;
    }

    &__heading {
        padding-top: 5rem;
    }

    &__group {
        @include mixin.flex-padding-modifier(wrap, row, space-evenly, center, 0);
        width: 100%;
    }

    &__pair {
        @include mixin.flex-padding-modifier(nowrap, column, center, center, 1rem);
        margin: 1rem;
        width: 100px;
        height: 100px;
    }

    &__icon {
        font-size: 5rem;
        color: palette.$text-color;

        &--fade {
            color: palette.$fade-color;
        }
    }
    
}









