@use "./partials/palette";
@use "./partials/typography";

* {
    margin: 0;
    padding: 0;
    font-family: typography.$text-font;
    scroll-behavior: smooth;
    //border: 1px solid palette.$primary-color; // check margins/paddings
    
}

body {
    background-color: palette.$bg-color;
}

.nav {
    height: 4rem;
    background-color: palette.$gunmetal;
    
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;

    &__link {
        color: palette.$tertiary-color;
        font-family: typography.$heading-font;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            color: palette.$bg-color;
        }
    }
}

.main {
    margin-top: 4rem; // Should be the same as height of nav;    

    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    padding: 0;

}

.home {
    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: typography.$heading-font;
        color: palette.$primary-color;
    }

    &__subheading {
        font-size: 2rem;
        font-family: typography.$heading-font;
        color: palette.$secondary-color;
        text-align: center;
    }

    &__image {
        margin-top: 1rem;
        border-radius: 1rem;
        height: 20rem;
        width: 20rem;
        border: 0.2rem solid palette.$tertiary-color;
    }
}

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: typography.$heading-font;
        color: palette.$primary-color;
    }

    &__group {
        // MIXIN A
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &__text {
        width: 40vw;
    }
}

.skills {
    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: typography.$heading-font;
        color: palette.$primary-color;
    }
    
    &__subheading {
        font-size: 2rem;
        font-family: typography.$heading-font;
        color: palette.$secondary-color;
        text-align: center;
    }

    &__group {
        // MIXIN A
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &__pair {
        width: 100px;
        height: 100px;

        // MIXIN A
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        
        &--icon {
            font-size: 5rem;
            color: palette.$text-color;
        }    

    }
    
}


.projects {
    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: typography.$heading-font;
        color: palette.$primary-color;
    }

    &__group {
        // MIXIN A
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &__article {
        width: 300px;

        // MIXIN A
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        
        h2 {
            font-size: 2rem;
            font-family: typography.$heading-font;
            color: palette.$secondary-color;
            text-align: center;
        
        }

        img {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            height: 18rem;
            width: 18rem;
            border: 0.2rem solid palette.$tertiary-color;
        }

        a {
            color: palette.$text-color;
            text-decoration: none; 
            font-size: 2rem;
         
            &:hover {
             font-size: 2rem;
             color: palette.$secondary-color;
            }
         }
         
    }

}

.contact {
    // MIXIN A
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: typography.$heading-font;
        color: palette.$primary-color;
    }


    &__group {
        // MIXIN A
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        
        a {
            color: palette.$text-color;
            text-decoration: none; 
            font-size: 5rem;
         
            &:hover {
             font-size: 5rem;
             color: palette.$secondary-color;
             }
        }

        p {
            font-size: 1rem;
        }
    }

    &__pair {
        // MIXIN B
        margin: 1rem;
        
        // MIXIN A
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

    }

}

.footer {
    &__text {
         // MIXIN B
        padding: 1rem;
        margin: 1rem;

        text-align: center;
        color: palette.$text-color;
    }
}



// Tool tip
// Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;


}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    background-color: palette.$primary-color;
    color: palette.$tertiary-color;
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    opacity: 0;
    transition: opacity 0.3s;
  
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: palette.$primary-color transparent transparent transparent;

}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}