/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
.home {
  width: 100%;
  min-height: 100vh;
}
.home__image {
  margin-top: 1rem;
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  border: 0.2rem solid rgb(250, 250, 255);
}
@media only screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1441px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
  }
}
.home__heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}
@media only screen and (max-width: 600px) {
  .home__heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .home__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home__heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .home__heading {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1441px) {
  .home__heading {
    font-size: 5rem;
  }
}
.home__subheading {
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .home__subheading {
    font-size: 1.5rem;
  }
  .home__subheading--larger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .home__subheading {
    font-size: 1.5rem;
  }
  .home__subheading--larger {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home__subheading {
    font-size: 2rem;
  }
  .home__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .home__subheading {
    font-size: 2rem;
  }
  .home__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .home__subheading {
    font-size: 2rem;
  }
  .home__subheading--larger {
    font-size: 3rem;
  }
}
.home__text {
  color: rgb(48, 52, 63);
}
@media only screen and (max-width: 600px) {
  .home__text--squish {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .home__text--squish {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home__text--squish {
    width: 75vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .home__text--squish {
    width: 60vw;
  }
}
@media only screen and (min-width: 1441px) {
  .home__text--squish {
    width: 50vw;
  }
}
.home__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding: 1rem;
}

.about {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 250, 255);
}
@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1441px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
.about__heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}
@media only screen and (max-width: 600px) {
  .about__heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .about__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .about__heading {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1441px) {
  .about__heading {
    font-size: 5rem;
  }
}
.about__subheading {
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .about__subheading {
    font-size: 1.5rem;
  }
  .about__subheading--larger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .about__subheading {
    font-size: 1.5rem;
  }
  .about__subheading--larger {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__subheading {
    font-size: 2rem;
  }
  .about__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .about__subheading {
    font-size: 2rem;
  }
  .about__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .about__subheading {
    font-size: 2rem;
  }
  .about__subheading--larger {
    font-size: 3rem;
  }
}
.about__text {
  color: rgb(48, 52, 63);
}
@media only screen and (max-width: 600px) {
  .about__text--squish {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .about__text--squish {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__text--squish {
    width: 75vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .about__text--squish {
    width: 60vw;
  }
}
@media only screen and (min-width: 1441px) {
  .about__text--squish {
    width: 50vw;
  }
}
.about__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.skills {
  width: 100%;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) {
  .skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1441px) {
  .skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
.skills__heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}
@media only screen and (max-width: 600px) {
  .skills__heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .skills__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills__heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .skills__heading {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1441px) {
  .skills__heading {
    font-size: 5rem;
  }
}
.skills__subheading {
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .skills__subheading {
    font-size: 1.5rem;
  }
  .skills__subheading--larger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .skills__subheading {
    font-size: 1.5rem;
  }
  .skills__subheading--larger {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills__subheading {
    font-size: 2rem;
  }
  .skills__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .skills__subheading {
    font-size: 2rem;
  }
  .skills__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .skills__subheading {
    font-size: 2rem;
  }
  .skills__subheading--larger {
    font-size: 3rem;
  }
}
.skills__text {
  color: rgb(48, 52, 63);
}
@media only screen and (max-width: 600px) {
  .skills__text--squish {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .skills__text--squish {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills__text--squish {
    width: 75vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .skills__text--squish {
    width: 60vw;
  }
}
@media only screen and (min-width: 1441px) {
  .skills__text--squish {
    width: 50vw;
  }
}
.skills__heading {
  padding-top: 5rem;
}
.skills__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.skills__pair {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 100px;
  height: 100px;
}
.skills__icon {
  font-size: 5rem;
  color: rgb(48, 52, 63);
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 250, 255);
}
@media only screen and (max-width: 600px) {
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1441px) {
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
.projects__heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}
@media only screen and (max-width: 600px) {
  .projects__heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .projects__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .projects__heading {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1441px) {
  .projects__heading {
    font-size: 5rem;
  }
}
.projects__subheading {
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .projects__subheading {
    font-size: 1.5rem;
  }
  .projects__subheading--larger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .projects__subheading {
    font-size: 1.5rem;
  }
  .projects__subheading--larger {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__subheading {
    font-size: 2rem;
  }
  .projects__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .projects__subheading {
    font-size: 2rem;
  }
  .projects__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .projects__subheading {
    font-size: 2rem;
  }
  .projects__subheading--larger {
    font-size: 3rem;
  }
}
.projects__text {
  color: rgb(48, 52, 63);
}
@media only screen and (max-width: 600px) {
  .projects__text--squish {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .projects__text--squish {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__text--squish {
    width: 75vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .projects__text--squish {
    width: 60vw;
  }
}
@media only screen and (min-width: 1441px) {
  .projects__text--squish {
    width: 50vw;
  }
}
.projects__heading {
  padding-top: 5rem;
}
.projects__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.projects__article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 18rem;
}
.projects__article img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: 18rem;
  width: 18rem;
}
.projects__article a {
  color: rgb(48, 52, 63);
  text-decoration: none;
  font-size: 2rem;
}
.projects__article a:hover {
  font-size: 2rem;
  color: rgb(39, 52, 105);
}

.contact {
  width: 100%;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1441px) {
  .contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}
.contact__heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}
@media only screen and (max-width: 600px) {
  .contact__heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .contact__heading {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact__heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .contact__heading {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1441px) {
  .contact__heading {
    font-size: 5rem;
  }
}
.contact__subheading {
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .contact__subheading {
    font-size: 1.5rem;
  }
  .contact__subheading--larger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .contact__subheading {
    font-size: 1.5rem;
  }
  .contact__subheading--larger {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact__subheading {
    font-size: 2rem;
  }
  .contact__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .contact__subheading {
    font-size: 2rem;
  }
  .contact__subheading--larger {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .contact__subheading {
    font-size: 2rem;
  }
  .contact__subheading--larger {
    font-size: 3rem;
  }
}
.contact__text {
  color: rgb(48, 52, 63);
}
@media only screen and (max-width: 600px) {
  .contact__text--squish {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .contact__text--squish {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact__text--squish {
    width: 75vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .contact__text--squish {
    width: 60vw;
  }
}
@media only screen and (min-width: 1441px) {
  .contact__text--squish {
    width: 50vw;
  }
}
.contact__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.contact__group a {
  color: rgb(48, 52, 63);
  text-decoration: none;
  font-size: 5rem;
}
.contact__group a:hover {
  font-size: 5rem;
  color: rgb(39, 52, 105);
}
.contact__group p {
  font-size: 1rem;
}
.contact__pair {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.footer__text {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  color: rgb(48, 52, 63);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 1rem;
  background-color: rgb(30, 39, 73);
  color: rgb(250, 250, 255);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 85%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(30, 39, 73) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(228, 217, 255);
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  height: 4rem;
  background-color: rgb(48, 52, 63);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.nav__link {
  color: rgb(250, 250, 255);
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-decoration: none;
}
.nav__link:hover {
  color: rgb(228, 217, 255);
}

.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 4rem;
}
