/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(228, 217, 255);
}

.home img {
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  border: 0.2rem solid rgb(250, 250, 255);
}

nav {
  height: 4rem;
  background-color: rgb(48, 52, 63);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 2rem;
}
nav a {
  color: rgb(250, 250, 255);
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}
nav a:hover {
  font-size: 2rem;
  color: rgb(228, 217, 255);
}

main {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__group--pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  padding: 1rem;
}
.skills__group--pair i {
  font-size: 5rem;
}
.skills__group--pair p {
  padding: 1rem;
}

.projects__buttons {
  margin: 1rem;
}
.projects__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects__article {
  margin: 1rem;
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__article p {
  margin-bottom: 1rem;
}
.projects__article img {
  border-radius: 1rem;
  height: 18rem;
  width: 18rem;
  border: 0.2rem solid rgb(250, 250, 255);
}
.projects__article a {
  color: rgb(48, 52, 63);
  text-decoration: none;
  font-size: 2rem;
}
.projects__article a:hover {
  font-size: 2rem;
  color: rgb(39, 52, 105);
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: rgb(30, 39, 73);
}

h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: rgb(39, 52, 105);
}

h3 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1rem;
}

.contact__group {
  display: flex;
  flex-wrap: wrap;
}
.contact__group a {
  color: rgb(48, 52, 63);
  text-decoration: none;
  font-size: 5rem;
}
.contact__group a:hover {
  font-size: 5rem;
  color: rgb(39, 52, 105);
}
.contact__pair {
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  padding: 1rem;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

a {
  color: rgb(48, 52, 63);
  text-decoration: none;
  font-size: 1rem;
}
a:hover {
  font-size: 1rem;
  color: rgb(39, 52, 105);
}
