@use "./partials/palette";
@use "./partials/typography";
@use "./partials/mixin";
@use "./modules/home.scss";
@use "./modules/about.scss";
@use "./modules/skills.scss";
@use "./modules/projects.scss";
@use "./modules/contact.scss";
@use "./modules/footer.scss";
@use "./modules/tooltip.scss";

* {
    margin: 0;
    padding: 0;
    font-family: typography.$text-font;
    scroll-behavior: smooth;
    //border: 1px solid palette.$primary-color; // check margins/paddings
    
}

body {
    background-color: palette.$bg-color;
}

.nav {
    @include mixin.flex-padding-modifier(nowrap, row, space-evenly, center, 0);
    height: 4rem;
    background-color: palette.$gunmetal;
    
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    &__link {
        color: palette.$tertiary-color;
        font-family: typography.$heading-font;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            color: palette.$bg-color;
        }
    }
}

.main {
    @include mixin.flex-padding-modifier(nowrap, column, center, center, 0);
    margin-top: 4rem; // Should be the same as height of nav;

}


